.syllables-container {
  background-color: #f9f9fa;
  border: 1px solid #ddd;
  border-radius: 0.8rem;
  width: 100%;
  height: auto;
  padding: 1rem;

  img {
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
  }

  &__title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
  }

  &__list {
    font-size: 0.9rem;
    color: #666;
  }
}
