.english {
  font-size: 1.1rem;
}

.korean {
  font-size: 0.8rem;
  font-weight: bold;
}

.container {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 48vh;
  width: 50vh;
  border-radius: 8px;
}

.heading {
  background-color: #DF3333;
  color: #fff;
  padding: 1rem;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.consonantItem {
  display: inline-block;
  margin: 5px;
  font-size: 2rem;
  color: #333;
}

.line {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #a1a1a1;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: #DF3333;
  color: #fff;
  padding: 6px 8px;
  font-size: 0.9rem;
  margin-left: 1rem;
  margin-right: 1rem;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: rgb(192, 41, 41);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  scale: 1.1;
}

.containers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
