.english {
  font-size: 1.1rem;
}

.korean {
  font-size: 0.8rem;
  font-weight: bold;
}

.container {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 48vh;
  width: 50vh;
  border-radius: 8px;
}

.heading {
  background-color: #DF3333;
  color: #fff;
  padding: 1rem;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.vowelItem {
  display: inline-block;
  margin: 5px;
  font-size: 2rem;
  color: #333;
}

.line {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #a1a1a1;
}
